## **Librer√≠as**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.options.display.max_columns = False

In [3]:
from datetime import datetime, timedelta
import winsound

In [4]:
import pickle

## **Datos**

In [11]:
df =  pd.read_csv('https://raw.githubusercontent.com/dataprofessor/data/master/penguins_cleaned.csv')

In [12]:
df.sample()

    species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g   sex
227  Gentoo  Biscoe            50.0           15.9                224         5350  male

In [13]:
encode = ['sex', 'island']

for col in encode:
    dummy = pd.get_dummies(df[col], prefix=col)
    df = pd.concat([df, dummy], axis=1)
    del df[col]

In [14]:
df.sample()

    species  bill_length_mm  bill_depth_mm  flipper_length_mm  ...  sex_male  island_Biscoe  island_Dream  island_Torgersen
144  Adelie            36.0           17.1                187  ...     False          False          True             False

[1 rows x 10 columns]

In [17]:
df.columns

Index(['species', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm',
       'body_mass_g', 'sex_female', 'sex_male', 'island_Biscoe',
       'island_Dream', 'island_Torgersen'],
      dtype='object')

In [18]:
data = {
    'bill_length_mm': 43.9, 
    'bill_depth_mm': 17.2, 
    'flipper_length_mm': 201, 
    'body_mass_g': 4207,
    'sex_female': False,
    'sex_male': True,
    'island_Biscoe': False,
    'island_Dream': True, 
    'island_Torgersen': False
}

features = pd.DataFrame(data, index=[0])

In [19]:
features

   bill_length_mm  bill_depth_mm  flipper_length_mm  ...  island_Biscoe  island_Dream  island_Torgersen
0            43.9           17.2                201  ...          False          True             False

[1 rows x 9 columns]

In [8]:
model = pickle.load(open('./Models/penguin_class.pkl', 'rb'))

In [20]:
model.predict(features)

array([0], dtype=int64)